## importing libraries

In [17]:
import numpy as np
import pandas as pd

## Load Data

In [18]:
df = pd.read_csv('data/data_badminton.csv')
df.head()

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8508 non-null   object
 1   Review Title     8508 non-null   object
 2   Place of Review  8468 non-null   object
 3   Up Votes         8508 non-null   float64
 4   Down Votes       8508 non-null   float64
 5   Month            8053 non-null   object
 6   Review text      8510 non-null   object
 7   Ratings          8518 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 532.5+ KB

In [20]:
df.columns

Index(['Reviewer Name', 'Review Title', 'Place of Review', 'Up Votes',
       'Down Votes', 'Month', 'Review text', 'Ratings'],
      dtype='object')

In [21]:
df = df[['Review Title', 'Review text', 'Ratings']]

In [22]:
df.isnull().sum()

Review Title    10
Review text      8
Ratings          0
dtype: int64

In [23]:
df.dropna(inplace=True)

In [24]:
df.isnull().sum()

Review Title    0
Review text     0
Ratings         0
dtype: int64

In [25]:
df.head()

,Review Title,Review text,Ratings
0,Nice product,"Nice product, good quality, but price is now r...",4
1,Don't waste your money,They didn't supplied Yonex Mavis 350. Outside ...,1
2,Did not meet expectations,Worst product. Damaged shuttlecocks packed in ...,1
3,Fair,"Quite O. K. , but nowadays the quality of the...",3
4,Over priced,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [26]:
df['Review'] = df['Review Title'] + '. ' + df['Review text']

In [27]:
df['Ratings'].unique()

array([4, 1, 3, 5, 2], dtype=int64)

In [28]:
df['Ratings_new'] = df['Ratings'].apply(lambda x: 'Negative' if (x==1) or (x==2) else ('Positive' if (x==4) or (x==5) else 'Neutral'))

In [29]:
df

,Review Title,Review text,Ratings,Review,Ratings_new
0,Nice product,"Nice product, good quality, but price is now r...",4,"Nice product. Nice product, good quality, but ...",Positive
1,Don't waste your money,They didn't supplied Yonex Mavis 350. Outside ...,1,Don't waste your money. They didn't supplied Y...,Negative
2,Did not meet expectations,Worst product. Damaged shuttlecocks packed in ...,1,Did not meet expectations. Worst product. Dama...,Negative
3,Fair,"Quite O. K. , but nowadays the quality of the...",3,"Fair. Quite O. K. , but nowadays the quality ...",Neutral
4,Over priced,Over pricedJust â?¹620 ..from retailer.I didn'...,1,Over priced. Over pricedJust â?¹620 ..from ret...,Negative
...,...,...,...,...,...
8503,Yones Mavis 350 Blue cap,Wrost and duplicate productDon't buy this sell...,1,Yones Mavis 350 Blue cap. Wrost and duplicate ...,Negative
8504,For Mavis350,Received product intact and sealedREAD MORE,5,For Mavis350. Received product intact and seal...,Positive
8505,Very Good,Delivered before time but price is high from m...,3,Very Good. Delivered before time but price is ...,Neutral
8506,Don't waste your money,up to the mark but same is available in market...,4,Don't waste your money. up to the mark but sam...,Positive
8507,Really Nice,Nice delivery speedREAD MORE,5,Really Nice. Nice delivery speedREAD MORE,Positive

In [30]:
# df[['Review', 'Ratings_new']].to_csv('data/new_data_badminton.csv',index=False)